Repository funidata/fudis-core, pull requests merged in 2025-05, with the labels that each got.

#1 Core workflow
  .editorconfig
  .github/workflows/delete_branch_docs.yaml
  .github/workflows/publish_docs_from_pr.yaml
  .github/workflows/release_new_version.yaml
  .gitignore
  .nvmrc
  .stylelintrc.json
  CLA
  README.md
  core/.storybook/main.js
  core/Dockerfile
  core/package.json
  core/scripts/copy-files.sh
  core/src/foundations/breakpoints/mixins.scss
  core/src/foundations/typography/mixins.scss
  package-lock.json
  package.json
  prettierrc.yaml
  settings/.vscode/extensions.json
  settings/.vscode/settings.json
Labels: github actions

#2 Release v0.0.2 alpha
  .github/workflows/delete_branch_docs.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: exclude from release notes

#3 [Release workflow]: Add root redirect step for release workflow
  .github/workflows/release_new_version.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: github actions

#4 [Core workflow]: Sub dir version bump
  .github/workflows/release_new_version.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
  scripts/version_sub_projects.sh
Labels: exclude from release notes

#5 [Release Workflow]: Check latest version tag
  .github/workflows/release_new_version.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: github actions

#6 [Fudis Core]: Add Storybook documentation for foundations
  core/.storybook/preview.js
  core/_index.scss
  core/src/foundations/borders/borders.mdx
  core/src/foundations/breakpoints/breakpoints.mdx
  core/src/foundations/colors/colors.mdx
  core/src/foundations/focus/focus.mdx
  core/src/foundations/spacing/spacing-classes.mdx
  core/src/foundations/spacing/spacing-grid.mdx
  core/src/foundations/spacing/spacing-tokens.mdx
  core/src/foundations/typography/body-text.stories.js
  core/src/foundations/typography/classes.scss
  core/src/foundations/typography/header.stories.js
  core/src/foundations/typography/link.stories.js
  core/src/foundations/typography/miscellaneous.stories.js
  core/src/foundations/typography/typography.mdx
  core/src/foundations/utilities/utilities.mdx
Labels: feature

#7 [Core documentation]: Release docs
  .github/workflows/release_new_version.yaml
  core/.storybook/main.js
  core/.storybook/manager.js
  core/.storybook/preview.js
  core/documentation/development/tooling/Releases.mdx
  core/documentation/introduction/Introduction.mdx
  core/src/assets/images/fudis-logo-favicon-black.png
  core/src/assets/images/fudis-logo-favicon-white.png
  core/src/assets/images/fudis-logo-mini-black-on-white.svg
  core/src/assets/images/fudis-logo-mini-black.svg
  core/src/assets/images/fudis-logo-mini-white.svg
  core/src/assets/images/fudis-logo-regular-black-on-white.svg
  core/src/assets/images/fudis-logo-regular-black.svg
  core/src/assets/images/fudis-logo-regular-white.svg
Labels: chore

#11 [Fudis Core]: Fix npm publish in pipeline
  .github/workflows/release_new_version.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: github actions

#14 [Fudis Core]: Fix set latest-variable
  .github/workflows/release_new_version.yaml
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: github actions

#17 Bump to version v0.0.3-alpha.9
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: exclude from release notes

#18 Bump to version v0.0.3-alpha.9.1
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: exclude from release notes

#20 Bump to version v0.0.3-alpha.11
  core/package-lock.json
  core/package.json
  package-lock.json
  package.json
Labels: exclude from release notes

#21 [Fudis Core]: Add error handling to the release flow
  .github/workflows/release_new_version.yaml
Labels: github actions
